.carousel {
    position: relative;
    overflow: scroll;
    width: 70%; /* Carousel takes up 80% of the width of the page */
    margin: 0 auto;
  
    .carousel-track {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
  }
  