// Signup.scss
.signup-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.2rem;
  }
  
  input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  button {
    padding: 0.7rem;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #ffd700;
    }
  }