
  .community-page {
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    width: 80%; /* Adjust the width as needed */
    max-width: 1000px;
    background-color: rgba(0, 0, 0, 0.6); /* Adds a semi-transparent background */
  }
  