// Updated Navbar.scss
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #000000;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    flex: 1;
}

.navbar-center {
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 10;
}

.navbar-right {
    text-align: right;
}

ul {
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 0 1.5rem;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: #ffd700;
      transform: scale(1.05);
    }
}

.hoopwrld-link, .login-link {
    font-size: 1.8rem;
}

.basketball-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://img.icons8.com/emoji/20/000000/basketball-emoji.png');
    background-size: cover;
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
    transition: transform 0.3s ease;
}

@keyframes dribble {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-12px);
    }
    50% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(-6px);
    }
    100% {
      transform: translateY(0);
    }
}

.navbar a:hover .basketball-icon {
    animation: dribble .805s ease-in-out infinite;
}