/* Container to handle perspective */
.card-container {
  perspective: 1000px;
  justify-content: center;
}

/* Card base styles */
.card {
  width: 200px;
  height: 300px; /* Adjust the height according to your design */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front,
.card-back {
  position: absolute;
  width: 200px;
  height: 220px;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Front side of the card */
.card-front {
  background-color: rgba(0, 0, 0, 0.8);
}

.card-front img {
  width: 70%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-front h3 {
  margin-top: 1rem;
  color: #ffd700;
  text-transform: uppercase;
}

/* Back side of the card */
.card-back {
  background-color: rgba(0, 0, 0, 0.9);
  transform: rotateY(180deg); /* Initially flipped */
  padding: 1rem;
}

.card-back p {
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card-back button {
  background-color: orangered;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-back button:hover {
  background-color: #ffb700;
  color: #000;
}

/* Hover effect to flip the card */
.card-container:hover .card {
  transform: rotateY(180deg); /* Flip the card */
}
